extends layout

block content
  h1 Hello MVC
  p Ingresá el ID del usuario que querés buscar.
  hr
  table
    thead
      th id
      th Nombre
      th Email
      th Cumpleaños
      th Edad
    tbody
  hr
  h4 Más info en
    a(href='#') MDN  
